In [1]:
import pandas as pd
from rank_bm25 import BM25Okapi

In [2]:
df = pd.read_csv("data/shakespeare.csv")
df

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
...,...,...,...,...,...,...
111391,111392,A Winters Tale,38.0,5.3.180,LEONTES,"Lead us from hence, where we may leisurely"
111392,111393,A Winters Tale,38.0,5.3.181,LEONTES,Each one demand an answer to his part
111393,111394,A Winters Tale,38.0,5.3.182,LEONTES,Perform'd in this wide gap of time since first
111394,111395,A Winters Tale,38.0,5.3.183,LEONTES,We were dissever'd: hastily lead away.
111395,111396,A Winters Tale,38.0,NaN,LEONTES,Exeunt

In [3]:
corpus = df.PlayerLine.tolist()
len(corpus)

111396

In [10]:
plays = df.Play.tolist()

In [4]:
tokenized_corpus = [doc.split(" ") for doc in corpus]

In [5]:
bm25 = BM25Okapi(tokenized_corpus)

In [31]:
query = "murder"
tokenized_query = query.split(" ")

res = bm25.get_top_n(tokenized_query, df.index, n=10)

In [34]:
for i in res:
    dataLine, play, playerlinenumber, ASL, player, playerLine = df.iloc[i]
    print(f"{play} {ASL}")
    print(f"{player}: {playerLine}")
    print()

Richard III 1.4.163
CLARENCE: To murder me?

Romeo and Juliet 4.5.64
CAPULET: To murder, murder our solemnity?

A Winters Tale 5.1.75
LEONTES: To murder her I married.

macbeth 2.3.105
MACDUFF: Would murder as it fell.

Titus Andronicus 2.3.289
TAMORA: How easily murder is discovered!

macbeth 3.4.97
MACBETH: Than such a murder is.

macbeth 2.3.83
MACDUFF: Most sacrilegious murder hath broke ope

Titus Andronicus 5.2.37
TAMORA: Where bloody murder or detested rape

Pericles 2.4.134
GOWER: And had intent to murder him,

Hamlet 4.7.140
KING CLAUDIUS: No place, indeed, should murder sanctuarize,